<div class="container">
	@{
		ViewBag.Title = "ShowEstados";
		List<AppWebVideoJuego.Models.Estado> models = (List<AppWebVideoJuego.Models.Estado>)ViewData["models"];
	}

	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Exito!</strong>Registro Ingresado Exitosamente!
	</div>

	<h2>ShowEstados</h2>

	<table class="table table-bordered">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Color</th>
			<th colspan="3"></th>
		</tr>

		@foreach (var item in models)
		{
		<tr>
			<td>@item.GetId()</td>
			<td>@item.GetNombre()</td>
			<td>@item.GetDescripcion()</td>
			<td>@item.GetColor()</td>

			<td>
				<form method="post" action="/Estado/ShowEstado">
					<input type="hidden" name="id" value="@item.GetId()" />
					<input type="hidden" name="nombre" value="@item.GetNombre()" />
					<input type="hidden" name="descripcion" value="@item.GetDescripcion()" />
					<input type="hidden" name="color" value="@item.GetColor()" />
					<input type="submit" name="btnMostrar" value="Mostrar" class="btn btn-info" />
				</form>
			</td>

			<td>
				<form method="post" action="/Estado/ShowFormEdit">
					<input type="hidden" name="id" value="@item.GetId()" />
					<input type="hidden" name="nombre" value="@item.GetNombre()" />
					<input type="hidden" name="descripcion" value="@item.GetDescripcion()" />
					<input type="hidden" name="color" value="@item.GetColor()" />
					<input type="submit" name="btnMostrar" value="Editar" class="btn btn-warning" />
				</form>
			</td>

			<td>
				<form method="post" action="/Estado/DeleteState">
					<input type="hidden" name="id" value="@item.GetId()" />
					<input type="submit" name="btnMostrar" value="Eliminar" class="btn btn-danger" />
				</form>
			</td>

		</tr>
		}
	</table>

	<center>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Nuevo</button> |
		@Html.ActionLink("Atras", "Index", "Estado", new { area = "" }, new { @class = "btn btn-success" })
	</center>

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="panel panel-default">
					<div class="panel-heading">Nuevo Estado</div>
					<div class="panel-body">
						<center>
							@Html.Partial("_NuevoEstado");
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header ">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="exampleModalLabel">New message</h4>
				</div>
				<div class="modal-body">
					<center>
						@Html.Partial("_NuevoEstado");
					</center>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


</div>